.annonces {
    background-color: antiquewhite;
    column-count: 3;
    margin-top: 20px;
    padding-bottom: 20px;
}
.annonce {
    background-color: white;
    display: inline-block;
    height: 200px;
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    padding: 10px;
}
.annonceHeader {
    position: relative;
}
.annoncePrix {
    display: list-item;
    position: absolute;
    right: 0;
}
.annonceTitre {
    display: inline-block;
	top: 5%;
}
.annonceImage {
    display: block;
    margin-right:auto;
    margin-top: auto;
}
.annonceTexte {
    display: inline-block;
    width: 80%;
}
.div{
	height: 100%;
}

.boutons{
    margin-left: 30px;
    display: inline-block;
}

.allIn{
    display: block;
}

