#formcomposer, .form,#commande {
text-align: center;
padding: 30px;
margin: 20px 0px;
}

#formcomposer input,.form input,#commande .mycommand input{
width: 200px;
height:20px;
}

#formcomposer label,.form label,#commande .mycommand label{
display: inline-block;
width: 150px;
padding: 10px;
}

input[type="submit"]{
  margin: 18px;
  height: 33px;
  width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}
