body {
	padding: 35px;
  font-family: 'open Sans', sans-serif;
  background-color:blanchedalmond;
}
/* header*/
header{
	display: block;
}

.menu{
	position: absolute;
	left: 60%;
	top: 5%;
}
#acceuil{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid black;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: black;
  color: white;
}
