.defile {
   position: fixed;
   margin-right: 10px;
   width: max-content;
   overflow: hidden;
   border: 3px solid #F2F2F2;
}

.defile ul {
   padding:0; 
   margin:0;
   list-style: none;
}
.defile ul li {
   float: left;
}