
#perso{
    column-count: 2;
    display: flex;
}

#panier{
    display: block;
}

.article {
    display: block;
    margin-left: 40px;
    border: solid 1px;
    padding: 5px;
}

.article img{
    display: block;
    margin: auto;
}

.pret{
    margin-left: 50px;
}

.cacher{
    padding: 10px;
    flex: 50%;
    border : solid;
}


#paniercommande{
    margin-left: auto;
    margin-right: auto;
    display: block;
}